<div
  class="min-w-screen min-h-screen bg-black flex items-center justify-center px-5 py-5"
>
  <div
    class="w-full mx-auto ruonded-x shadow-xl text-gray-900 relative overflow-hidden"
    style="max-width: 350px"
  >
    <h1 class="text-center text-white py-10 text-3xl font-bold">Calculadora</h1>

    <!--corpo da calculadora-->

    <div
      class="w-full h-40 bg-gradient-to-b from-gray-800 to-gray-700 text-right"
    >
      <!--seção da função-->

      <div id="function" class="w-full py-5 px-6 text-2xl text-white font-thin">
        {{ funcT }}
      </div>

      <!--seção dos números-->

      <div id="numbers" class="w-full py-5 px-6 text-6xl text-white font-thin">
        {{ calValue | number }}
      </div>
    </div>

    <!--botões-->

    <div class="text-center w-full bg-gradient-to-b from-blue-500 to-blue-800">
      <!--primeira linha de botões-->
      <div class="flex w-full">
        <div
          class="w-2/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <!--botão de limpar-->
          <button
            class="w-full h-16 outline-none text-white text-xl font-light"
            (click)="onClickValue('c', 'function')"
          >
            C
          </button>
        </div>

        <!--botão de porcentagem-->
        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-white font-light"
            (click)="onClickValue('%', 'function')"
          >
            %
          </button>
        </div>
        <!--botão de divisão-->
        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-white font-light"
            (click)="onClickValue('/', 'function')"
          >
            /
          </button>
        </div>
      </div>
      <!--fim da primeira linha de botões-->

      <!--segunda linha de botões-->

      <div class="flex w-full">
        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none l text-white font-light"
            (click)="onClickValue('7', 'number')"
          >
            7
          </button>
        </div>

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('8', 'number')"
          >
            8
          </button>
        </div>

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('9', 'number')"
          >
            9
          </button>
        </div>
        <!--botão de multiplicação-->

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('*', 'function')"
          >
            *
          </button>
        </div>
      </div>
      <!--fim da segunda linha de botões-->

      <!--terceira linha de botões-->
      <div class="flex w-full">
        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('4', 'number')"
          >
            4
          </button>
        </div>

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('5', 'number')"
          >
            5
          </button>
        </div>

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('6', 'number')"
          >
            6
          </button>
        </div>
        <!--botão de subtração-->

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('-', 'function')"
          >
            -
          </button>
        </div>
      </div>
      <!--fim da terceira linha de botões-->

      <!--quarta linha de botões-->
      <div class="flex w-full">
        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('1', 'number')"
          >
            1
          </button>
        </div>

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('2', 'number')"
          >
            2
          </button>
        </div>

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('3', 'number')"
          >
            3
          </button>
        </div>
        <!--botão de adição-->

        <div
          class="w-1/4 border-r border-b border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('+', 'function')"
          >
            +
          </button>
        </div>
      </div>
      <!--fim da quarta linha de botões-->

      <!--quinta linha de botões-->
      <div class="flex w-full">
        <div
          class="w-1/4 border-r border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('0', 'number')"
          >
            0
          </button>
        </div>

        <!--botão decimal-->

        <div
          class="w-1/4 border-r border-blue-400 hover:bg-blue-700 hover:bg-opacity-50"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('.', 'function')"
          >
            .
          </button>
        </div>

        <!--botão igual-->

        <div
          class="w-2/4 border-r border-blue-400 hover:bg-blue-700 hover:bg-opacity-20"
        >
          <button
            class="h-16 outline-none focus:outline-none text-xl text-white font-light"
            (click)="onClickValue('=', 'function')"
          >
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
